* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(121, 121, 121, 0.15);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 90px 0;
}
#container {
    background-color: white;
    width: 30.36%;
    border-radius: 9px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.15);
}
p {
    color: #606770;
}
.padding {
    padding: 10px 10px 0px;
}
/* .box2 {
    width: 440px;
} */
.padding2 {
    padding: 10px 10px 10px 10px ;   
}
.center {
    display: flex;
    text-align: center;
}
.input-box {
    font-size: 16px;
    width: 196px;
    padding: 9px;   
}
.input1 {
    font-size: 16px;
    padding: 9px;
    padding-right: 207px;
    margin-top: 10px;
}
.select {
    font-size: 16px;
    padding: 8px;
    padding-right: 57px;
    border-radius: 5px;
    margin-top: 5px;
}
.ki-tu-dac-biet {
    background-color: grey;
    padding: 0px 5px   ;
    border-radius: 10px;
    font-weight: 600;
    font-size: 10px;
    color: white;
}
.gioi-tinh {
    width: 128px;
    padding: 7px;
    border-radius: 2px;
    margin-top: 5px;
    background-color: white;
    float: left;
    box-sizing: border-box;
    border: 1px groove gray ;
}
.padding4 {
    padding-right: 65px;
}
.padding3 {
    padding-right: 58px;
}
.margin2 {
    margin-right: 10px;
}
.margin3 {
    margin-right: 13.13px;
}
.texxt {
    text-align: justify;
    font-size: 12px;
}
a {
    text-decoration: none;
    color: #1877f2;
}
.dang-ky {
    
        width: 200px;
        text-align: center;
        font-size: 18px;
        padding: 14px;
        border-radius: 5px;
        font-weight: 500;
        background-color: #42b72a;
        color: white;
        margin-left: 104px;
        border: none;
}