* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -10px;
}

.row > [class*="column-"] {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
}

.column-one {
    width: 8.33333%;
}

.column-two {
    width: 16.66667%;
}

.column-three {
    width: 25%;
}

.column-four {
    width: 33.33333%;
}

.column-five {
    width: 41.66667%;
}

.column-six {
    width: 50%;
}

.column-seven {
    width: 58.33333%;
}

.column-eight {
    width: 66.66667%;
}

.column-nine {
    width: 75%;
}

.column-ten {
    width: 83.33333%;
}

.column-eleven {
    width: 91.66667%;
}

.column-twelve {
    width: 100%;
}

.item {
    height: 200px;
    background-color: coral;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item--small {
    height: 95px;
}

.offset-one {
    margin-left: 8.33333%;
}

.offset-two {
    margin-left: 16.66667%;
}
.test{
    order:1;
}