* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} 
body {
     font-size: 16px;
     color: #464646;
     
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#container {
     
}
#navigation {
    background-color: #34465c;
    width: 100%;
    height: 60px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo {
    width: 120px;
}

.logo img {
    width: 100%;
}

.menu {
    width: 100%;
    align-items: center;
}

.avatar {
    width: 40px;
    height: 40px;
    
}

.avatar img {
      width: 100%;
      border-radius: 20px;
}

.menu-list  {
    display: flex;
    justify-content: flex-end;
}

.menu-list a {
    width: 100%;
    text-decoration: none;
    color: white;
    text-transform: uppercase;

}
.menu-list li {
      list-style-type: none;
      margin-right: 15px;
}
.caret-down {
    font-size: 17px;
    color: red;
    
}
/* Menu đa cấp 2 */
.menu-list {
    position: relative;
}
.sub-menu {
    position: absolute;
    padding-top: 20px;
    display: none;

    
}
.sub-menu li {
    padding: 5px 10px 5px 10px;
    background-color: white;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}
.sub-menu li a {
    
    color: gray;
}
.menu-list li:hover .sub-menu {
    display: block;
}
#content{
    background-color: #ffffff;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    color: #464646;
    background-color: #f4f7fa;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    color: #464646;
    background-color: #f4f7fa;
    box-sizing: border-box;
    display: block;
}
.nen-ngoai-cung{
    padding-top: 3rem;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.khung-anh{
    max-width: 1250px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.layout-row{
    margin-bottom: 50px;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.widget1{
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.banner{
    position: relative;
    margin: 20px 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
.carousel{
    height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-img{
    height: 100%;
}
.anh1{
    border-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    max-width: 100%;
    display: block;
    margin: auto;
}
.widget2{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.recent-posts{
    height: calc(100% - 40px);
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.posts{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    background-color: #fff;
    height: 21.5%;
    display: block;
    font-size: 16px;
    color: #464646;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;

}
.post-thumbnail {
    float: left;
    height: 100%;
    width: 105px;
    display: block;
    text-align: left;
    
}
.post-thumbnail img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    max-width: 100%;
    display: block;
    margin: auto;
    border-style: none;
    
}

.post-info{
    float: left;
    width: calc(100% - 110px);
    height: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.post-title{
    color: #464646;
    text-align: left;
    font-size: 1rem;
    display: block;
    font-weight: 400;
    line-height: 1.5;
    cursor: pointer;
    background-color: #fff;
    margin-left: 5%;
    margin-right: 5%;

}
a{
    text-decoration: none;
}

.post-author {
    font-size: 0.8rem;
    color: #000;
    
}
.widget3{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.nen-ngoai{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.nen-trong{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.intro {
    padding: 20px 0;
    float: left;
    width: 25%;
    text-align: center;
}
.intro-text {
    margin-top: 15px;
    color: #464646;
    font-size: 1rem;
}
.intro-description {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    color: #999;
    width: 80%;
    margin: auto;
}
.content2 {
    background-color: #e4f2fd;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.box {
text-align: center;
padding: 30px;
}
.box h2 {
    text-transform: uppercase;
}

.width {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.course-infomation {
    max-width: 28%;
    background-color: white;
    margin: 24px 30px;
    border-radius: 5px;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15);
}
.course-infomation2 {
    max-width: 26%;
    background-color: white;
    margin: 24px 30px;
    border-radius: 5px;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15);
}
.course-infomation img{
    border-radius: 5px 5px 0 0;
}
.course-infomation2 img {
    border-radius: 5px 5px 0 0;
}
.a-color {
    color: #464646;
}
.coure-content {
    padding: 1.4rem;
    border-radius: 10px;
}
.p-content {
    padding-top: 10px;
    line-height: 1.3;
    text-align: justify;
}
.p-content2 {
    line-height: 16px;
    font-size: 14px;
    font-weight: 300;
    color: #5e5e5e;
    padding-top: 10px;
}
.date-time {
    font-weight: 600;
    color: #757575;
    padding-top: 10px;
    align-items: flex-end;
}
.product {
    background-color: #f4f7fa;
    padding: 5rem 0;
}
.box2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}
.box3 {
    display: flex;
    justify-content: center;
    max-width: 1250px;
    height: 700px;
    margin-top: 50px;
    margin-left: 70px;
}
.box3 iframe {
    width: 100%;
    height: 100%;
}
.p-style {
    font-size: 30px; 
    text-transform: uppercase;
    align-self: center;
    margin: 0 416px;
}
.carouseller {
    text-align: center;
    padding: 2px 11px;
    background-color: white;
    border-radius: 5px;
    border: 2px groove #2196f3;
    font-size: 26px;
    color: gray;
}
.row {
    display: flex;
    flex-direction: row;
}
.col-sm-6 {
    flex: 0 0 23%;
    width: 300px;
    line-height: 3;
    font-size: 14px;

}
#chats{
    position: fixed;
    right: 30px;
    bottom: 30px;
}
#chats img{
    width: 60px;
    border-radius: 40px;
}
footer {
    padding: 3rem 0 3rem 0;
    display: flex;
    flex-direction: column;
}

footer h4 {
    color: #fff;
    font-size: 18px
}

footer,
footer a {
    color: #919294
}

.social-links ul {
    list-style-type: none
}

.desktop.social-links li {
    float: left;
    margin-left: 1rem;
    margin-right: .5rem;
    font-size: 1rem
}

.desktop.social-links {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    margin: auto
}

.footer-info li a:hover {
    color: #919294
}

.mobile.social-links {
    display: none
}

@media (max-width:575px) {
    .footer-info {
        text-align: center
    }
    .desktop.social-links {
        display: none
    }
    .mobile.social-links {
        height: 50px;
        display: flex;
        justify-content: space-evenly;
        margin: auto
    }
}
.list-inline.social-links .fab {
    border-radius: 0
}
li {
    list-style-type: none;
}
.fix {
   margin-left: 38px; 
}
