* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: rgb(245, 255, 57);
    font-family: sans-serif;
}
#container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
.banner {
    background-color: white;
    background-image: url(https://i-mail.pximg.net/c/1200x900_70/img-master/img/2010/07/31/14/33/27/12241810_p0_master1200.jpg);
    height: 350px;
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    font-size: 26px;
    color: #464646;
}
a {
    text-decoration: none;
}
.menu {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}
.input {
    padding: .375rem .4rem;
    font-size: 18px;
    border: 1px solid #ced4da;
    border-radius: .25rem; 
    margin-right: 5px;
}
.form {
    position: relative;
    left: 676px;
}
.button {
border: 1px solid #28a745;
padding: 6px 8px;
border-radius: 5px;
color: #28a745;
background-color: white;
transition-duration: 0.3s;
font-size: 18px;
}
.button:hover {
    background-color: rgb(1, 160, 1);
    color: white;
}
.a1 {
    color: black;
    font-size: 17px;
}
.a2 {
    color: gray;
    font-size: 17px;
}
.a3 {
    color: black;
}
.a2:hover {
    color: black;
}
.left-collum {
    float: left;
    width: 75%;
}
.box {
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.125);
    line-height: 1.5;
    text-align: justify;
}
.position {
    position: relative;
    left: 100px; 
 }
 h2 {
    font-size: 30px;
    font-weight: 500;
    color: #ed3c39;
}
h3 {
    font-size: 20px;
    font-weight: 500;
}
.right-collum {
    float: left;
    width: 25%;
    padding-left: 20px;
}
.box1 {
    background-color:  rgb(0, 217, 255);
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.125);
    text-align: justify;
}
strong {
    color: #ed3c39;
}
.home {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    font-size: 30px;
    color: white;
    background-color: blue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home a {
    color: white;
}