*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    font-family: "Open Sans",sans-serif;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: 1rem;
    font-weight: 600;
    background-color: white;
    color: #919BA2;
    line-height: 1.5;
}
.header{
    position: relative;
    width: auto;
    height: auto;
    background-color: white;
    padding: 0 20px;
    padding-bottom: 5px;
    overflow: hidden;
    box-shadow: inset 0 1px 1px -1px #ccc, 0 0 1px #d9d9d9;
}
.style-logo{
    padding-top: 10px;
    float: left;
}
.social-network{
    display: block;
    float: right;
    margin-top: 20px;
}
li{
    list-style: none;
    float: left;
    padding: 0 10px;
    /* text-align: center; */
    
}
i{
    color: rgb(153, 153, 153);
    font-size: 17px;
}


.content {
    padding-top: 40px;
}
.style-main{
    max-width: 600px;
    margin: 0 auto;
    box-sizing: content-box;
}
.left-area{
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    height: auto; 
    transform: translate3d(0,0,0);
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 39px;
    box-shadow: 1px 0 0 #f2f2f2;
    background-color: #fafafa;
    margin-top: 3px;
}

h2{
    font-size: 10px;
}
.search-field{
    display: block;
    font-size: 14px;
    padding: 12px 12px 12px 20px;
    width: 100%;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.main-li1{
    padding: 0;
    margin-bottom: 20px;
}
.donut{
    display: inline-block;
    position: relative;
    width: 6px;
    height: 6px;
    border: 4px solid #abb1b1;
    border-radius: 50%;
    margin-right: 3px;
}
a{
    text-decoration: none;
    color: #333;
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
    transition: all 0s ease-in-out;
}
a:hover{
    color: #7C9BEF;
}
.inside-ul{
    display: flex;
    flex-direction: column;
}
.cat-item{
    font-size: 12px;
    color: #919BA2;
    padding-top: 7px;
    padding-left: 10px;
}
.flex{
    flex-direction: column;
}

.line-height{
    padding-bottom: 20px;
    padding-left: 0px;
    width: 100%;
}
.new-design{
    padding: 3px 5px 3px 5px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;
    background-color: #7193ee;
    color: white;
}
.right-arena{
    width: 300px;
    position: absolute;
    top: 60px;
    right: 0;
    height: auto; 
    transform: translate3d(0,0,0);
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 39px;
    box-shadow: 1px 0 0 #f2f2f2;
    background-color: #fafafa;
    margin-top: 3px;
}
.box{
    background-color: #f2f2f2;
    width: auto;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 0 1px #e6e6e6;
    border-radius: 3px;
}
.main-box{
    margin-top: 20px;
    margin-bottom: 40px;
}
.a-design{
    font-size: 13px;
}
.a-design2{
    font-size: 12px;
    color:#919BA2;
}
.img-left{
    margin: 5px 50px;
}
.main-poster{
    margin-top: 10px;
    margin-bottom: 20px;
}
.design-img{
    width: 100%;
    height: auto;
    padding: 10px 0;
}
.line{
    font-size: 13px;
}
.poster{
    box-sizing: border-box;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.poster2{
    box-sizing: border-box;
    margin: 0;
    padding-right: 10px;
}
.display{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.line{
    font-size: 11px;
}
.small-text{
    font-size: 10px;
    color: #B1B7BC;
}
h1{
    color:#333;
    font-weight: 600;
    font-size: 1.714rem;
    line-height: 1.75;
}
.spans{
    font-size: 14px;
    color: #919BA2;
    font-weight: 600;
}
strong{
    font-weight: 700;
    color: #333;
}
p{
    font-weight: 400;
    color: #333;
    font-size: 18px;
}
.font-a{
    font-size: 16px;
    font-weight: 400;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #999;
}
.shadow{
    box-shadow: 0 0 0 1px #f2f2f2;
    margin-bottom: 26px;
    margin-top: 20px;
    padding: 0;
}
.shadow2{
    box-shadow: 0 0 0 1px #f2f2f2;
    padding: 0;
}
.button{
    display: inline-block;
    color: white !important;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    background-color: #7091ec;
    padding: 13px 20px;
    margin: 0px 5px 60px 0px;
    border-radius: 3px;
    transition: all 0s ease-in-out;
}
.button:hover{
    background-color: #85a0e7;
}
.small-text2{
    font-size: 12px;
    color: #B1B7BC;
    margin-bottom: 40px;
}
.line-height2{
    margin-bottom: 60px;
}
.footer{

    width: auto;
    height: auto;
    box-shadow: 0 0 0 1px #f2f2f2;
    
}
.footer__inner{
    text-align: center;
}
/* .text-footer{

} */
h3{
    font-size: 1.5rem;
    color: #333;
    padding: 20px 0 10px 0;
}
.newletter{
    display: flex;
    flex-direction: column;
}
.input1{
    display: flex;
   color: #666;
   font-size: 16px;
   border: 1px solid #d9d9d9; 
   padding: 14px 18px;
   border-radius: 3px 0 0 3px;
}
.input2{
    display: flex;
    color: #fff !important;
    flex-direction: none;
    border: 1px solid #7C9BEF;
    border-radius: 0px 3px 3px 0px;
    text-align: center;
    font-weight: 600;
    line-height: 1;
    font-size: 1rem;
    background-color: #7C9BEF;
    padding: 10px 16px;
}
.newSearch{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.input3{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 3px 6px;
    border-radius: 3px;
    border: 1px solid #7C9BEF;
    background-color: #7c9cef;
}
.bottom-footer{
    
width: auto;
height: auto;
}
.shadow3{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    box-shadow: 0 0 0 1px #f2f2f2;
}
.small-text3{
    font-size: 14px;
    color: #B1B7BC;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}